<server description="Sample Servlet server">
    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>transportSecurity-1.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>
    <variable name="app.context.root" defaultValue="DummyServlet"/>

    <sslDefault outboundSSLRef="outboundSSLSettings"/>

    <ssl id="outboundSSLSettings"
         keyStoreRef="outboundKeyStore"
         trustStoreRef="outboundTrustStore"
         trustDefaultCerts="true"/>

    <keyStore id="outboundKeyStore"
              location="clientkeystore.p12"
              password="password"/>

    <keyStore id="outboundTrustStore"
              location="clienttruststore.jks"
              password="password"/>

    <httpEndpoint httpPort="${default.http.port}"
    httpsPort="${default.https.port}" id="defaultHttpEndpoint"  host="*" />

    <webApplication id="DummyServlet" location="DummyServlet.war" contextRoot="${app.context.root}" />
</server>
